<form [formGroup]="seatForm">
  <div class="seat-selection-container">
    <!-- Available Seats Section -->
    <h3>
      Available Seats
      <span>{{ seatsCount }}</span>
    </h3>

    <!-- <mat-divider></mat-divider> -->
    <button [disabled]="seatsCount===0" mat-stroked-button color="primary" (click)="addPassenger()">
      <mat-icon>add</mat-icon> Add Passenger
    </button>
    <!-- Passenger Details Section -->
    <h3>Passenger Details</h3>
    <div formArrayName="passengers">
      @for(pssenger of passengers.controls; track $index){
      <div [formGroupName]="$index" class="passenger-form">
        <div class="passenger-block">
          <h4>Passenger {{ $index + 1 }}</h4>
          <mat-form-field appearance="fill">
            <mat-label>Full Name</mat-label>
            <input
              matInput
              formControlName="name"
              placeholder="Enter your name"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Mobile Number</mat-label>
            <input
              matInput
              formControlName="mobile"
              type="tel"
              placeholder="Enter mobile number"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              type="email"
              placeholder="Enter email"
            />
          </mat-form-field>

          <button
            mat-icon-button
            color="warn"
            (click)="removePassenger($index)"
            [disabled]="$index === 0"
          >
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
      </div>
      }
    </div>

    <button [disabled]="seatsCount===0" mat-stroked-button color="primary" (click)="addPassenger()">
      <mat-icon>add</mat-icon> Add Passenger
    </button>

    <br /><br />
    <button [disabled]="!seatForm.valid" (click)="proceedToPayment()" mat-raised-button color="accent">
      Proceed to Payment
    </button>
  </div>
</form>
