<mat-card class="search-card">
  <form class="bus-search-form" (ngSubmit)="onSearch()">
    <mat-form-field appearance="outline">
      <mat-label>From</mat-label>
      <input matInput placeholder="Source city" [(ngModel)]="from" name="from" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>To</mat-label>
      <input matInput placeholder="Destination city" [(ngModel)]="to" name="to" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="date" name="date" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button class="btn-inside" type="submit">Search Buses</button>
  </form>
</mat-card>