<mat-nav-list>
  <a mat-list-item routerLink="/admin/dashboard" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </a>
  <a mat-list-item routerLink="/admin/buses" routerLinkActive="active">
    <mat-icon>directions_bus</mat-icon>
    <span>Buses</span>
  </a>
  <a mat-list-item routerLink="/admin/users" routerLinkActive="active">
    <mat-icon>people</mat-icon>
    <span>Users</span>
  </a>
  <a mat-list-item routerLink="/admin/feedback" routerLinkActive="active">
    <mat-icon>feedback</mat-icon>
    <span>Feedback</span>
  </a>
</mat-nav-list>